* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0.4rem 0px;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

#callInput {
    padding: 0px 0.4rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#callInput:hover, #callInput:focus {
    cursor: pointer;
}

#sessionTitle {
    margin-right: 0.3rem;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#buttons button {
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
}

#sendFile {
    margin-right: 0px;
}

#sendText, #sendFile {
    display: none;
}

#chat-content {
    border: solid black 1px;
    border-radius: 15px;
    min-height: 120px;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    overflow-y: scroll;
    text-wrap: wrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

#chat-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

#chat-content div {
    display: flex;
    flex-direction: row;
    border: none;
    align-items: center;
    margin-bottom: 5px;
}

#scrollButton {
    margin-top: 0.3rem;
}

.copy-btn, .download-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #f0f0f0;
    text-decoration: none; 
}

.copy-btn:hover, .download-btn:hover {
    background-color: #e0e0e0;
}

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#vite-logo {
    height: 1.5rem;
    margin-left: 0.4rem;
}

#webrtc-logo {
    height: 1rem;
    margin-left: 0.4rem;
}

#cloudflare-logo {
    height: 1.6rem;
    margin-left: 0.4rem;

}

/* Modal Style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
}

#formBody {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
}

#joinButtons, #textButtons, #fileButtons {
    display: flex;
    flex-direction: row;
}

#formButtons button {
    margin: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    body {
        width: 95%;
        padding: 10px;
    }

    .modal-content {
        width: 90%;
    }
    
    /* Additional mobile-specific styles can be added here */
}
